<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.milodon.vmc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="Milodon VMC"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:vmSafeMode="true"
        tools:replace="android:label,android:allowBackup">

        <service
            android:name=".services.FloatService"
            android:exported="false" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.NetChangeReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.VolumeChangeReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".DispensingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".admin.AdminLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".admin.MotorTesterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".admin.PosTesterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>